@import "tailwindcss";

body {
  color: #ffffff; /* White text color */
  background-color: #374151; /* Dark gray background */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out forwards;
}