@import "tailwindcss";

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f3f4f6; /* light gray background in light mode */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

body.dark {
  background-color: #1f2937; /* dark gray background in dark mode */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out forwards;
}